dominate==2.7.0
easydict==1.10
facenet==1.0.5
imageio==2.10.5
iopath==0.1.10
lib==4.0.0
matplotlib==3.6.2
munch==2.5.0
numpy==1.23.5
omegaconf==2.3.0
open3d==0.18.0
opencv_python==4.6.0.66
Pillow==9.3.0
PyMCubes==0.1.2
pyskeleton==1.0.0
pytorch3d==0.6.2
PyYAML==6.0
Requests==2.32.3
sets==0.3.2
setuptools==68.0.0
six==1.16.0
smplx==0.1.28
structures==0.9.5
tensorboardX==2.5.1
termcolor==2.5.0
torch==1.10.1+cu111
torchsummary==1.5.1
torchvision==0.11.2+cu111
tqdm==4.64.1
trimesh==3.17.1
utils==1.0.2